{% extends 'base.html.twig' %}

{% block title %}
{{ 'worker.index.title' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<a class="worker__link" href="{{ path('app_worker_create') }}">
    {{ 'worker.action.create' | trans }}
</a>
<table>
    <thead>
        <tr>
            <th>
                {{ 'worker.field.lastName' | trans }},
                {{ 'worker.field.firstName' | trans | lower }}
            </th>
            <th>{{ 'worker.field.job' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr>
            <td>
                <a
                    href="{{ path('app_worker_read', {id: worker.id}) }}">
                    {{ worker.lastName }} {{ worker.firstName }}
                </a>
            </td>
            <td>{{ worker.job ? worker.job.title : '' }}</td>
            <td>
                <a
                    class="worker__link"
                    href="{{ path('app_worker_edit', {id: worker.id}) }}">
                    {{ 'worker.action.edit' | trans }}
                </a>
                {{ form_start(form, {
                    attr: {class: 'worker__form'},
                    action: path('app_worker_delete', {id: worker.id}),
                }) }}
                    <input
                        class="worker__link"
                        type="submit"
                        value="{{ 'worker.action.delete' | trans }}"
                    />
                {{ form_end(form) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/worker.css') }}" />
{% endblock %}
