{% extends 'base.html.twig' %}

{% block title %}
{{ 'worker.index.title' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}
<a class="erp__link erp__link--main" href="{{ path('app_worker_create') }}">
    {{ 'worker.action.create' | trans }}
</a>
<table class="table">
    <thead>
        <tr>
            <th class="table__cell table__cell--head">
                {{ 'worker.field.lastName' | trans }},
                {{ 'worker.field.firstName' | trans | lower }}
            </th>
            <th class="table__cell table__cell--head">
                {{ 'worker.field.job' | trans }}
            </th>
            <th class="table__cell table__cell--head">
                {{ 'worker.index.actions' | trans }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr>
            <td class="table__cell">
                <a
                    href="{{ path('app_worker_read', {id: worker.id}) }}">
                    {{ worker.lastName }} {{ worker.firstName }}
                </a>
            </td>
            <td class="table__cell">{{ worker.job ? worker.job.title }}</td>
            <td class="table__cell">
                <a
                    class="erp__link"
                    href="{{ path('app_worker_edit', {id: worker.id}) }}">
                    {{ 'worker.action.edit' | trans }}
                </a>
                {{ form_start(form, {
                    attr: {class: 'table__form'},
                    action: path('app_worker_delete', {id: worker.id}),
                }) }}
                    <input
                        class="erp__link"
                        type="submit"
                        value="{{ 'worker.action.delete' | trans }}"
                    />
                {{ form_end(form) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
