{% extends 'base.html.twig' %}

{% block body %}
{% if error is not empty %}
<p class="flash flash--error">{{ error.message }}</p>
{% endif %}

<form action="{{ path('app_security_logincheck') }}" method="POST">
    <label for="[login]username">{{ 'security.field.username' | trans }}</label>
    <input class="form-control" type="text" name="username" id="username">
    
    <label for="[login]password">{{ 'security.field.password' | trans }}</label>
    <input class="form-control" type="password" name="password" id="password">
    
    <button type="submit">{{ 'security.action.logIn' | trans }}</button>
</form>
{% endblock %}
