<nav class="navbar">
  <ul class="navbar__list">
    <li>
      <a class="navbar__link" href="{{ path('app_main_index') }}">
        {{ 'main.index.title' | trans }}
      </a>
    </li>
    <li>
      <a class="navbar__link" href="{{ path('app_worker_index') }}">
        {{ 'worker.index.title' | trans }}
      </a>
    </li>
    <li>
      <a class="navbar__link" href="{{ path('app_job_index') }}">
        {{ 'job.index.title' | trans }}
      </a>
    </li>
  </ul>
</nav>
